<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <table>
    <tr>
      <td>
        <div>
          <p>
            <a href="/">home</a>
            <a href="/mult">multiplication</a>
            <a href="/square">square's</a>
            <a href="/factorial">factorial's</a>
            <a href="/fibonacci">fibonacci's</a>
          </p>
        </div>
      </td>
      <td>
        <&- body %>
      </td>
    </tr>
  </table>
</body>
</html>